*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: sans-serif;
}
header{
    display: flex;
    align-items: center;
    height: 17vh;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
}
header .logo img{
    height: 110px;
}
header .search{
    display: flex;
    margin-left: 30px;
}
header .search input{
    width: 500px;
    height: 40px;
    padding-left: 20px;
    border: none;
    border-radius: 7px;
    background-color: rgb(231, 231, 231);
}
header .search input::placeholder{
    font-size: 15px;
    font-weight: 600;
}
header .search .ser1{
    position: relative;
}
header .search .ser1 i{
    position: absolute;
    right: 20px;
    top: 10px;
    font-size: 20px;
    color: gray;
}
header .search .ind{
    display: flex;
    margin-left: 50px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
header .search .ind .ind1{
    background-image: linear-gradient(to right, rgb(250, 210, 230),rgb(241, 230, 248));
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px 20px;
}
header .search .ind .ind1 span{
    font-weight: 600;
    font-size: 15px;
}
header .search .ind .ind2{
    background-image: linear-gradient(to left,rgb(230, 253, 230), rgb(223, 223, 255),rgb(244, 224, 255));
    display: flex;
    border-left: 1px solid rgba(128, 128, 128, 0.411);
    align-items: center;
    justify-content: center;
    padding: 5px 20px;
}
header .search .ind .ind2 select{
    padding: 3px 7px;
    background-color: rgba(128, 128, 128, 0);
    border: none;
    font-weight: 600;
    font-size: 15px;
}
header .search .ind img{
    height: 20px;
    margin-right: 7px;
}
header .search .ind .ind2 i{
    font-size: 20px;
    margin-right: 10px;
}
header .search .logi{
    margin-left: 30px;
    margin-top: 5px;
}
header .search .logi i{
    font-size: 25px;
    margin-left: 10px;
    color: gray;
    transition: 0.2s;
}
header .search .logi i:hover{
    color: rgb(255, 70, 199);
}
/* end header */
nav{
    height: 50px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: rgb(238, 238, 238);
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}
nav ul{
    display: flex;
    list-style: none;
    gap: 50px;
}
nav ul li a{
    text-decoration: none;
    text-transform: uppercase;
    color: rgb(90, 90, 90);
    font-size: 13px;
    font-weight: 700;
    transition: 0.2s;
}   
nav ul li a:hover{
    color: rgb(206, 11, 11);
}
nav .del{
    display: flex;
    align-items: center;
}
nav img{
    height: 50px;
    animation: del;
    animation-iteration-count: infinite;
    animation-duration: 2s;
}
@keyframes del{
    0%{
        transform: translateX(0px);
    }
    100%{
        transform: translateX(250px);
    }
}
nav span{
    color: red;
    font-weight: 600;
    border-left: 1px solid rgba(128, 128, 128, 0.411);
    height: 50px;
    padding-top: 15px;
    padding-left: 20px;
}
/* end nav */
.hme{
    margin: 15px 0px 0px 10px;
    font-size: 13px;
    color: gray;
}
.hme a{
    text-decoration: none;
    color: gray;
    padding: 0 7px;
}
/* end */
.productbg{
    display: flex;
    height: 30vh;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    margin: 5px 40px;
}
.productbg a{
    text-decoration: none;
    color: black;
}
.productbg .images img{
    height: 120px;
    border-radius: 50%;
}
.productbg p{
    font-size: 19px;
    text-align: center;
    margin-top: 5px;
}
.productbg a:hover{
    opacity: 0.7;
}
/* end productbg */
.prod{
    display: flex;
    margin: 20px 50px;
}
.prod div:nth-child(2){
    margin-left: 40px;
}
.prod div:nth-child(2) h1{
    font-size: 30px;
}
.prod div:nth-child(2) h3{
    font-weight: lighter;
}
.prod div:nth-child(2) h3 span{
    color: gray;
    text-decoration: line-through;
}
.prod p:nth-child(4){
    width: 600px;
    color: gray;
    /* font-weight: bold; */
    margin: 10px 0;
}
.prod .locat{
    margin: 5px 0;
    position: relative;
}
.prod .locat input{
    width: 300px;
    height: 40px;
    border-radius: 7px;
    padding-left: 30px;
    border: 1px solid  rgba(128, 128, 128, 0.445);
}
.prod .locat i{
    position: absolute;
    left: 10px;
    top: 10px;
    font-size: 20px;
}
.prod .locat button{
    width: 100px;
    height: 40px;
    border-radius: 10px;
    border: none;
    margin-left: 7px;
    background-color: rgb(248, 41, 152);
    font-size: 17px;
    color: white;
}
.prod .amount{
    margin: 15px 0 5px;
}
.prod .amount p:nth-child(1){
    display: inline;
    background-color: rgb(6, 173, 6);
    color: white;
    font-size: 12px;
    padding: 3px 5px;
    border-radius: 5px;
}
.prod .amount P i{
    margin-left: 2px;
    font-size: 11px;
}
.prod .amount p:nth-child(2){
    font-size: 13px;
    color: gray;
    margin-top: 10px;
    display: inline;
}

.prod .btn:nth-child(6) button:nth-child(2){
    margin-left: 10px;
}
.prod .btn button{
    width: 180px;
    height: 40px;
    font-size: 15px;
    margin-top: 10px;
    font-weight: 600;
    background-color: rgb(248, 41, 152);
    color: white;
    border: none;
    transition: 0.2s;
}
.prod .btn button:hover{
    background-color: white;
    color: rgb(248, 41, 152);
    box-shadow: rgb(248, 41, 152) 0px 2px 4px 0px, rgb(248, 41, 152) 0px 2px 16px 0px;
}
.prod .btn button i{
    margin-left: 3px;
}
.prod div:nth-child(2) h4{
    color: green;
    margin-top: 10px;
    font-size: 20px;
}
.prod ul{
    margin: 20px 0 0 20px;
}
.prod ul li{
    margin-bottom: 5px;
    color: rgb(54, 54, 54);
    font-size: 19px;
}
/* end prod */
.product-detail{
    display: flex;
    gap: 30px;
    height: 350px;
    margin-bottom: 35px;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    flex-wrap: wrap;
}
.product-detail a{
    text-decoration: none;
    color: black;
}
.product-detail .products{
    height: 350px;
    border: 1px solid rgba(128, 128, 128, 0.363);
    border-radius: 10px;
    text-align: start;
    position: relative;
}
.product-detail .products .seller,.prem,.trend,.new_prod{
    position: absolute;
    color: white;
    padding: 5px 10px;
    font-size: 12px;
    border-radius: 10px 0;
}
.product-detail .products .seller{
    background-color: rgb(6, 173, 6);
}
.product-detail .products .prem{
    background-color: rgb(11, 54, 196);
}
.product-detail .products .trend{
    background-color: rgb(235, 37, 235);
}
.product-detail .products .new_prod{
    background-color: rgb(214, 18, 18);
}
.product-detail .products:hover{
    opacity: 0.85;
    border: 1px solid rgba(128, 128, 128, 0);
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}
.product-detail .products .product-name{
    margin-left: 10px;
    color: rgb(66, 66, 66);
}

.product-detail .products img{
    width: 250px;
    height: 260px;
    border-radius: 10px 10px 0px 0px;
}
.product-detail .products .amount{
    display: flex;
    justify-content: space-between;
    margin: 10px;
}
.product-detail .products .amount div:nth-child(1) p{
    font-weight: bold;
    font-size: 17px;
}
.product-detail .products .amount div:nth-child(1) span:nth-child(1){
    color: gray;
    text-decoration: line-through;
    font-weight: lighter;
}
.product-detail .products .amount div:nth-child(1) span:nth-child(2){
    color: green;
    border-radius: 10px;
    font-size: 12px;
    padding: 5px 6px;
    background-color: rgb(214, 245, 230);
}
.product-detail .products .amount div:nth-child(2){
    text-align: end;
}
.product-detail .products .amount div:nth-child(2) p:nth-child(1){
    display: inline;
    background-color: rgb(6, 173, 6);
    color: white;
    font-size: 12px;
    padding: 5px;
    border-radius: 5px;
}
.product-detail .products .amount div:nth-child(2) p:nth-child(1) i{
    margin-left: 2px;
    font-size: 11px;
}
.product-detail .products .amount div:nth-child(2) p:nth-child(2){
    font-size: 13px;
    color: gray;
    margin-top: 10px;
}
/* end products */

.cnt{
    margin-top: 20px;
    height: 30vh;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-items: center;
    background-color: #e5e5e5;
}
.cnt p{
    margin-bottom: 15px;
}
.cnt .rights p i{
    color: #363636;
    font-size: 20px;
    border-radius: 50%;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    padding: 7px;
    margin-left: 5px;
}
.cnt .rights p:nth-child(1),
.cnt .store p{
    font-weight: bold;
    font-size: 20px;
}
.cnt .rights p:nth-child(2){
    font-size: 15px;
    width: 300px;
    padding-top: 10px;
}
.cnt .store img{
    height: 50px;
    border-radius: 10px;
}
/* end store */
footer{
    height: 29vh;
    display: flex;
    flex-wrap: wrap;
    background-color: black;
    justify-content: space-evenly;
    align-items: center;
}
footer ul li{
    list-style: none;
    margin-bottom: 5px;
}
footer ul li a{
    text-decoration: none;
    color: white;
}
footer div h3{
    font-size: 25px;
    color: white;
    padding: 15px 0;
}
footer div:nth-child(4) label{
    color: white;
    /* font-size: 20px; */
}
footer div:nth-child(4) input{
    width: 230px;
    height: 40px;
    border: 3px solid yellow;
    padding-left: 20px;
    margin-top: 10px;
}
footer div:nth-child(4) button{
    height: 40px;
    width: 40px;
    background-color: yellow;
    border: 1px solid yellow;
}
footer div:nth-child(4) i{
    font-size: 15px;
}

@media screen and (max-width:425px){
    
    header{
        display:inline-block;
        height: auto;
        width: 100%;
        position: relative;
    }
    header .logo img{
        height: 90px;
    }
    header .search{
        margin: 0 0 20px 25px;
    }
    header .search input{
        width: 180px;
    }
    header .search .ser1{
        position: absolute;
        top: 20px;
        left: 220px;
    }
    header .search .ind{
        margin-left: 0px;
    }
    header .search .ind .ind1{
        padding: 5px 15px;
    }
    header .search .ind .ind1 span{
        font-weight: 600;
    }
    header .search .ind .ind2{
        padding: 7px 10px;
    }
    header .search .ind .ind2 select{
        padding: 3px;
        font-size: 15px;
    }
    header .search .ind img{
        height: 15px;
    }
    header .search .ind .ind2 i{
        font-size: 15px;
        margin-right: 0px;
    }
    header .search .logi{
        display: flex;
        margin-left: 20px;
        margin-top: 9px;
    }
    header .search .logi i{
        font-size: 21px;
    }
    /* end */
    nav{
        width: 100%;
        height: auto;
        display: block;
        text-align: center;
        padding-top: 5px;
    }
    nav ul{
        display: inline-block;
        padding-top: 6px;
    }
    nav ul li{
        padding: 2px;
    }
    nav img{
        height: 50px;
        animation: del;
        animation-iteration-count: infinite;
        animation-duration: 2.7s;
    }
    @keyframes del{
        0%{
            transform: translateX(10px);
        }
        10%{
            transform: rotate(-40deg) ;
        }
        100%{
            transform: translateX(400px);
        }
    }
    nav span{
        color: red;
        font-weight: 600;
        border-left: none;
        padding-top: 15px;
        margin: 0 auto;
    }
    .marque{
        font-size: 15px;
        height: 30px;
    }
    .annbg{
        display: none;
    }
    .productbg{
        height: auto;
    }
    /* end */
    .date{
        height: auto;
        padding-bottom: 5px;
        display: inline-block;
    }
    .date div{
        text-align: center;
        border-left: none;
        border-top: 1px solid rgb(202, 202, 202);
        height: auto;
        padding: 10px 0;
        margin: 0 auto;
    }
    .date p:nth-child(1){
        padding: 15px 47px;
        text-align: center;
    }
    .date div i{
        font-size: 14px;
    }
    /* end date */
    .layout{
        grid-template-rows: repeat(1, 1fr);
        grid-template-columns: repeat(2, 1fr);
        margin: 20px;
    }
    .layout div{
        height: 175px;
    }
    .layout div h1{
        margin: 15px;
        font-size: 17px;
    }
    .layout div img{
        height: 110px;
    }
    /* end */
    .head h1{
        font-size: 25px;
    }
    .head h3{
        font-size: 15px;
    }
    .product-detail{
        gap: 10px;
        height: auto;
        margin-bottom: 0;
    }
    .product-detail .products{
        height: 230px;
        margin-bottom: 10px;
    }
    .product-detail .products img{
        height: 160px;
    }
    .product-detail .products h3{
        font-size: 17px;
    }
    .product-detail .products p{
        font-size: 13px;
    }
    /* end */
    .personalised{
        height: auto;
    }
    .personalised h1{
        margin: 10px 0 0;
    }
    .personalised img{
        display: none;
    }
    .personalised .personal-cont{
        margin-top: 5px;
        flex-direction: column;
        gap: 20px;
    }
    .personalised .personal-cont div button{
        width: 100px;
        height: 30px;
    }
    /* end */
    .prod div:nth-child(1) img{
        height: 300px;
        margin: 5px 0 5px 20px;
        /* margin-left: 20px; */
    }
    .prod{
        display:inline-block;
        /* margin: 20px 50px; */
    }
    /* .prod div:nth-child(2){
        margin-left: 40px;
    } */
    /* .prod div:nth-child(2) h1{
        font-size: 30px;
    } */
    /* .prod div:nth-child(2) h3{
        font-weight: lighter;
    }
    .prod div:nth-child(2) h3 span{
        color: gray;
        text-decoration: line-through;
    } */
    .prod p:nth-child(4){
        width: 300px;
        padding: 7px 0;
        /* color: gray;
        margin: 10px 0; */
    }
    /* .prod .locat{
        margin: 5px 0;
        position: relative;
    } */
    /* .prod .locat input{
        width: 300px;
        height: 40px;
        border-radius: 7px;
        padding-left: 30px;
        border: 1px solid  rgba(128, 128, 128, 0.445);
    } */
    /* .prod .locat i{
        position: absolute;
        left: 10px;
        top: 10px;
        font-size: 20px;
    } */
    .prod .locat button{
        /* width: 100px;
        height: 40px;
        border-radius: 10px;
        border: none; */
        margin-top: 10px;
        /* background-color: rgb(248, 41, 152);
        font-size: 17px;
        color: white; */
    }
    /* .prod .amount{
        margin: 15px 0 5px;
    } */
    /* .prod .amount p:nth-child(1){
        display: inline;
        background-color: rgb(6, 173, 6);
        color: white;
        font-size: 12px;
        padding: 3px 5px;
        border-radius: 5px;
    }
    .prod .amount P i{
        margin-left: 2px;
        font-size: 11px;
    }
    .prod .amount p:nth-child(2){
        font-size: 13px;
        color: gray;
        margin-top: 10px;
        display: inline;
    } */
    
    .prod .btn:nth-child(6) button:nth-child(2){
        margin-left: 0px;
    }
    /* .prod .btn{
        display: flex;
        gap: 10px;
    } */
    .prod .btn button{
        width: 250px;
        height: 40px;
        font-size: 15px;
        margin-top: 10px;
        font-weight: 600;
        background-color: rgb(248, 41, 152);
        color: white;
        border: none;
        transition: 0.2s;
    }
    /* .prod .btn button:hover{
        background-color: white;
        color: rgb(248, 41, 152);
        box-shadow: rgb(248, 41, 152) 0px 2px 4px 0px, rgb(248, 41, 152) 0px 2px 16px 0px;
    }
    .prod .btn button i{
        margin-left: 3px;
    }
    .prod div:nth-child(2) h4{
        color: green;
        margin-top: 10px;
        font-size: 20px;
    }
    .prod ul{
        margin: 20px 0 0 20px;
    }
    .prod ul li{
        margin-bottom: 5px;
        color: rgb(54, 54, 54);
        font-size: 19px;
    } */
    /* end */
    .cnt{
        padding: 10px 0;
        height: auto;
        text-align: center;
    }
    .cnt p{
        margin-bottom: 10px;
    }
    .cnt .rights p i{
        font-size: 17px;
    }
    .cnt .rights p:nth-child(1),
    .cnt .store p{
        font-size: 15px;
    }
    .cnt .rights p:nth-child(2){
        font-size: 13px;
    }
    .cnt .store img{
        height: 40px;
    }
    /* end */
    footer{
        height: auto;
        padding: 10px ;
    }
    footer div{
        margin: 0 50px;
    }
    footer div:nth-child(4){
        margin: 0;
        text-align: center;
        margin-top: 25px;
    }
    footer div:nth-child(4) label{
        font-weight: 600;
        font-size: 20px;
    }
    footer div:nth-child(4) input{
        width: 200px;
        height: 40px;
        margin-bottom: 30px;
    }
}